{% extends 'base.html.twig' %}
{# {% block title %}#{{ recipe.id }} {{recipe.slug}}{% endblock %} #}
{% block title %}{{ "#"~ recipe.id ~" "~ recipe.slug}}{% endblock %}
{% block body %}

    <div class="show-container">
        <article>
            <h1 class="text-center"> {{ recipe.title |title }}</h1>
           
           {% if recipe.imageName %}
    <img src="{{ vich_uploader_asset(recipe, 'imageFile') }}" style="max-width: 250px;" class="recipe-image">
{% endif %}


            <p class="creator">Recette créée par {{ recipe.user.firstname }} {#{{ recipe.user.lastname }}#}</p/>
            <p class="duration">Duration : {{ recipe.duration }} min</p>
            
            <div class="recipe-content">
                <h5>{{ recipe.content | nl2br }}</h5>
            </div>

            <div class="dates">
                <small>Créée le {{ recipe.createdAt | date('d/m/Y') }}</small><br>
                <small>Mise à jour le {{ recipe.updatedAt | date('d/m/Y H:i') }}</small>
            </div>

           <div class="btn-group">
            {% if app.user.email is same as(recipe.user.email) %}
                <a class="btn btn-primary btn-sm" href="{{ path('app_recipe_edit', {id: recipe.id}) }}">Edit</a>
                <a class="btn btn-danger btn-sm" href="{{ path('app_recipe_delete', {id: recipe.id}) }}" onclick="return confirm('Are you sure you want to delete this recipe?')">Delete</a>
            {% endif %}
               <a class="btn btn-secondary btn-sm" href="{{ path('app_recipe_index') }}">Go Back</a>
            
            </div>
        </article>
    
{# <p>Recette créée par {{ user.firstname ~" "~ user.lastname }}</p> #}
{# {{ dump(user) }} #}
{# {{ dump(app.current_route) }} #}
    </div>
{% endblock %}